<!-- quando formos escrever em tela um valor em uma tag ou que não seja em um atributo, colocamos entre chaves -->
<h1>{{ title }}</h1>

<!-- chamando o componente ap-photo -->
<!-- essas propriedades estão declaradas no componente, e consigo passar elas pois configurei com o @input no componente -->
<ap-photo
  url="https://img.elo7.com.br/product/zoom/26B13B5/painel-de-festa-dragao-2-dragao.jpg"
  description=""
></ap-photo>
<ap-photo
  url="https://img.elo7.com.br/product/original/26B13A2/painel-de-festa-dragao-como-treinar-seu-dragao.jpg"
  description=""
></ap-photo>
