<!-- quando formos escrever em tela um valor em uma tag ou que não seja em um atributo, colocamos entre chaves -->
<h1>{{ title }}</h1>

<!-- chamando o componente ap-photo -->
<!-- essas propriedades estão declaradas no componente, e consigo passar elas pois configurei com o @input no componente -->
<!-- O angular possui um recurso chamado diretiva. Uma diretiva pode mudar um comportamento de um componente já existente. no angular existe a diretiva *ngFor
dentro do nosso componente, na classe, temos uma propriedade chamada photos, que é um array de objetos. consigo iterar sobre o photos passando ele para o ngFor
possui o mesmo principio do for of.
lembrando que para receber o valor da propriedade do componente, o atributo precisa do data binding [], pois se não tiver ele irá entender o valor como uma string apenas. 
-->

<ap-photo
  *ngFor="let photo of photos"
  [url]="photo.url"
  [description]=""
></ap-photo>
